/*css에서도 charset설정하고, 반드시 종료(;)표기 할 것!*/
@charset "UTF-8";

/* css/float2.css*/
/*==================================
   float: left | right;
   float을 사용하면,  block 요소가 한쪽방향에서 순서대로 옆으로 나란히 배치가 된다.
   하나의 요소에 float을 작성했다면 그 형제들은 모두 float을 사용하여야 한다.
   하지만, 부모의 높이값을 auto로 주게되면, 부모의 높이는 0가 된다.
   float의 사전의미 :살짝 뜨다
   clear:left | right | both;
   */

	 h1{
		 padding:20px;
		 background-color: #0ac;
		 color:#ffff; text-align:center;
	 }

	 .float_box{
		 width:400px; height:auto; min-height:300px;
		 margin:auto;
		 border-width:5px; border-color:#555; border-style:solid;
	 }
.float_01 { float:left; width:200px; height:200px; background-color:#f1c;}
.float_02 { float:left; width:150px; height:200px; background-color:#1fc;}
.float_03 { float:left; width:300px; height:200px; background-color:#1cf;}
.float_04 { float:left; width:100px; height:200px; background-color:#c1f;}


.float_none {clear:both;
	width:370px; height:0; background-color:#777;}

	.other_box{
		width: 500px ; height:100px; background-color:#ccc; margin:auto;
	}
	/*
	clear:both;
	clear는 float기능을 강제로 해제하여, 감싸고 있는 부모요소의 높이가 auto일 때, 그 높이를 자동으로 늘어나거나, 축소되게 만들 수 있는 기능으로 float요소들의 가장 마지막에 배치하여 처리하도록 한다.
	float과 clear는 함께 사용 할 수 없다.
	참고: 인터넷에서 .clearfix또는 .cf 라는 이름의 기능
	*/