@charset "UTF-8";
/*css/mpbol.css*/

/*웹에서는 기본적으로 브라우저마다 자기들만의 고유 영역값을 세팅해놓았다.
각 요소들에게 여백의 값을 만들기도 하고, 외곽선의 형태를 만들기도 하였다. 
이를 우리는 실제 필요한 상황에 맞게 재 보수하여 사용할 수 있도록 처리해야 한다.

이에 여백, 선이라는 개념을 먼저 파악하도록 하자!!
*/
html,body,h1,h2,h3,h5,h6,p,ul,li,ol,dl,dt,dd{margin:0;}
h1 {width:200px; height:100px; background-color:#ddd;
margin:0;}
p{margin:10px;}

ul{
	width:150px; height:150px; list-style:0; 
	margin:0; padding:0; background-color:#acc;}
 li{width:90%; height:30px; background-color:solid;  border-color:blue;}
	dl{margin:0; background-color:#fa0;}
	dd{margin:0;}
/*
margin: 요소와 요소 사이의 눈에 보이는 공백을 처리하는 기능
padding: 하나의 요소 내에서 여백을 만들지만, 다른 이가 보기에는 박스가 늘어난 것으로 보인다.
border: 하나의 요소에 외곽선을 만드는 것으로, 선의 두께만큼 부피를 가져서 다른 요소를 밀어낸다.
outline:하나의 요소에 외곽선을 만들지만,border와는 다르게 선의 두께만큼 밀려내지는 않는다. (부피X)*/ 