@charset "utf-8";

#miniProduct{
    position:relative;
    width:600px; height:500px; margin:auto;
    padding-bottom:50px; box-sizing: border-box;
}

.product{
    width:600px; height:400px;
    background-color: #ccc;
}

.product >ul{
    position: absolute;
    z-index: 999;
    top:45px;
    width:300%; height:300px;
    
}

.product >ul li{
    float:left;
    width:33.0%; height:300px;
}

.product >ul .product_01{
    background-image: url(../../img/goods/abf\,4x4\,x600-bg\,f8f8f8.jpg);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.product >ul .product_02{
    background-image: url(../../img/goods/aps1\,504x498\,small\,transparent-pad\,600x600\,f8f8f8.jpg);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.product >ul .product_03{
    background-image: url(../../img/goods/fp\,504x498\,black\,off_white\,box20\,s\,f8f8f8-pad\,600x600\,f8f8f8.jpg);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}


.indicator>ul{
    width:110px; height:50px;
    position:absolute; top:90%; left:40%;
}

.indicator>ul li{
    float:left;
    width:30px; height:30px;
    background-color: #ccc;
    border-radius: 0%;
    margin-left: 5px;
}
.indicator> ul .indi_01{
    margin-left:0;
}

.arrow> ul{
    position:absolute;
    z-index: 10000;
    top:35%; left:50px;
    width:500px; height:0;   
}

.next{
    float:right;
    width:60px; height:60px;
    background-color: #fff;  
}
.prev{
    float:left;
    width:60px; height:60px;
    background-color: #fff;
}